@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=VT323&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    color: #FFFFFF;
}

*{
    padding:0;
    margin:0;
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

.header_logo{
    display:flex;
    gap:15px;
    align-items:center;
}

.header_menu{
    display:flex;
    width:50%;
    align-items:center;
    list-style:none;
    justify-content: space-between;
    font-zize:18px;
    font-weight: 300;
    color: #E4E4E4;
}

.header_container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top:30px;
    padding-bottom:30px;
    
}


.about_right{
    width:575px;
    height:575px;
    border: 67px solid #00C4F0;
    filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
    border-radius:50%;
    position:relative;

}

.about_img{

    position:absolute;
    left:70px;
    bottom:60px;

}

.about_icon{
    width:90px;
    height:90px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

.icon_1{
    position:absolute;
    right:-10px;
    top:-20px;
}

section{
    padding-top:30px;
    padding-bottom:30px;
}

.section_container{
    max-width:1200px;
    margin:0 auto;
}

.skillImg{
    width:80px;
    height:80px;
}

.skills_cards{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    
  
}
.skill_card{
    /* margin-left:20px;
    margin-right:20px; */
    margin:20px;
    width:230px;
    height:230px;
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.skilllsSection{
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

.aboutMe_container{
    max-width:1200px;
    margin:0 auto;
}

.aboutMe{
    position:relative;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
    padding:63px;
    width:370px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  
    background: #2C2C2C;
    border-radius: 14px;
}

.box1{
    width:272px;
    height:320px;
    background:red;
    position:absolute;
    left:-220px;
    top:-40px;
}

.box2{
    width:272px;
    height:320px;
    background:red;
    position:absolute;
    right:-220px;
}


.porfolio_section{
    padding-top:100px;
    padding-bootom:150px;
    background:black;
    color: #FFFFFF;
}


.porfolio_container{
    max-width:1200px;
    margin:0 auto;
    
}

.portfolio_top{
    width:fit-content;
    margin:0 auto;
}
.arr{
    width:60px;
    height:60px;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    border-radius:50%;
}


.portfolio_bottom{
    margin-top:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.portfolio_work{
    height:509px;
    width:870px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:50px 50px 41px 41px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
}

.work_right{
    /* увидели что отуспы между элементами одинаковые */
    width:296px;
    display:flex;
    flex-direction:column;
    gap:25px;
    align-items:center;
    
}